.ax_shape {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_paragraph {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h1 {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#A3ACB0;
  text-align:left;
  line-height:normal;
}
.ax_h2 {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#737A80;
  text-align:left;
  line-height:normal;
}
.ax_h3 {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3074A6;
  text-align:left;
  line-height:normal;
}
.ax_h4 {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3074A6;
  text-align:left;
  line-height:normal;
}
.ax_h5 {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3074A6;
  text-align:left;
  line-height:normal;
}
.ax_h6 {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3074A6;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_text_link {
  color:#0000FF;
}
.ax_text_link_mouse_over {
}
.ax_text_link_mouse_down {
}
.ax_text_field {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_text_area {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_droplist {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_list_box {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_checkbox {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_radio_button {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_flow_shape {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_tree_node {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_html_button {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_hot_spot {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_inline_frame {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_dynamic_panel {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_master {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_repeater {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table_cell {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_menu {
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_horizontal_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_vertical_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_connector {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.fontawesome {
}
._btn_disabled {
}
._btn-default {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3074A6;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
}
._btn-default_active {
}
._btn-primary {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-primary_hover {
}
._btn-primary_active {
}
._btn-success {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
._btn-success_hover {
}
._btn-success_active {
}
._btn-warning {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
._btn-warning_hover {
}
._btn-warning_active {
}
._btn-danger {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
._btn-danger_hover {
}
._btn-danger_active {
}
._lead {
  font-family:'Open Sans';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
._nav-tab_focused_tab {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:bold;
  color:#3074A6;
  line-height:20px;
}
._nav-tab_background_tabs {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#3074A6;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#3074A6;
}
._close {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
._close_hover {
  color:#E44A3D;
}
._close_active {
  color:#E44A3D;
}
._modal-footer {
}
._modal-header {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#3074A6;
  text-align:left;
  line-height:25px;
}
._modal-content {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
._input-lg {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:17px;
  color:#555555;
}
.label {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:20px;
}
.form_text_field {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#555555;
  line-height:20px;
}
._input {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#555555;
}
._panel__panel-default__no_title_ {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:20px;
}
.label__error {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#A42217;
  line-height:20px;
}
.form_text_field__error {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#555555;
  line-height:20px;
}
.label__warning {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#9C5F04;
  line-height:20px;
}
.form_text_field__warning {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#555555;
  line-height:20px;
}
.label__success {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#718038;
  line-height:20px;
}
.form_text_field__success {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#555555;
  line-height:20px;
}
._btn-info {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
._btn-info_hover {
}
._btn-info_active {
}
._panel__panel-default__header_ {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3074A6;
  text-align:left;
  line-height:20px;
}
._panel__panel-default__content_ {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  line-height:20px;
}
.mark {
}
.dropdown-menu {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  line-height:26px;
}
._btn-grp_divider {
}
._dropdown__default_border {
}
._dropdown__default_menuitem {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
}
._dropdown__default_menuitem_hover {
  color:#FFFFFF;
}
._navbar-default__navbar-lg__content_ {
  font-family:'Open Sans Condensed';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3074A6;
  line-height:20px;
}
._navbar-default__navbar-lg__background_ {
  font-family:'Open Sans Condensed';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#3074A6;
  line-height:20px;
}
._navbar-default_link_hover {
  color:#FFFFFF;
}
._navbar-default_link_active {
  color:#3074A6;
}
._well__well-sm {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
._input-sm {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
._alert-success {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#718038;
  line-height:20px;
}
.popover__panel_content {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:20px;
}
.label__success__normal {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#718038;
  line-height:20px;
}
._btn-link {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  color:#3074A6;
  line-height:20px;
}
._btn-link_hover {
  color:#1F4B6B;
}
._btn-link_active {
  color:#1F4B6B;
}
._btn-link__btn-sm {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#3074A6;
  line-height:20px;
}
._pager_btn {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#3074A6;
  line-height:20px;
}
._pager_btn_hover {
  color:#1F4B6B;
  line-height:20px;
}
._pager_btn_active {
  color:#FFFFFF;
  line-height:20px;
}
._label-primary {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.h2__small {
  font-family:'Open Sans Condensed';
  font-weight:300;
  font-style:normal;
  font-size:19px;
  color:#777777;
}
._alert-info {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#31708F;
  line-height:20px;
}
._dropdown__primary_menuitem {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
}
._dropdown__primary_menuitem_hover {
  color:#FFFFFF;
}
._dropdown__primary__dropdown-header {
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#25587E;
  line-height:17px;
}
